@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --bg-colour: ghostwhite;
  --text-colour: #333;
  --link-colour: rgb(170, 21, 170);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-colour: #00005c;
    --text-colour: ghostwhite;
    --link-colour: violet;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0.5rem auto;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--text-colour);
  background: var(--bg-colour);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: "Nunito", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
}

h1 {
  font-size: 1.5rem;
}

a {
  color: var(--link-colour);
}
