@import url('https://fonts.googleapis.com/css2?family=Tsukimi+Rounded&display=swap');

:root {
  --bg-colour: lavenderblush;
  --text-colour: black;
  --border-colour: #bc3e9f;
  --active-colour: #bc3e9f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-colour: #342c35;
    --text-colour: ghostwhite;
    --border-colour: ghostwhite;
    --active-colour: ghostwhite;
    --active-text: black;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--text-colour);
  background: var(--bg-colour);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-size: 20px;
  font-family: "Tsukimi Rounded", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 40px;
  margin: 20px;
}

h1 {
  font-size: 1.5rem;
}
